.new{
    width: 300px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    margin-top: 20px;
    margin-bottom: 20px;
}
.new img{
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.new img:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.new .info .date{
    font-weight: 600;
}
.new .info .title{
    font-weight: bold;
}
@media screen and (min-width: 768px){
    .new{
        width: 320px;
    }
}