.video{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    max-height: 80vh;
}
.principalVideo{
    width: 90%;
    max-height: 80vh;
}
.video video, .video img{
    height: auto;
    width: 100%;
    max-height: 80vh;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.video h4{
    width: 100%;
    margin-top: 10px;
}
.video p{
    width: 100%;
}
.video .link{
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.video a{
    padding: 5px 10px;
    border: 2px outset rgb(82, 82, 82);
    background-color: rgb(12, 12, 12);
    color: rgb(245, 249, 253);
    text-decoration: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}
@media screen and (min-width: 768px){
    .video{
        margin-left: 50px;
        margin-right: 50px;
    }
    .video{
        width: 40%;
    }
    .principalVideo{
        width: 90%;
    }
}