.TourDatesSection .fechas{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.TourDatesSection .header{
    font-size: 40px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.TourDatesSection .titulo{
    padding-left: 20px;
}